/**
 * my Custom
 */
* {
  box-sizing: border-box;
}

h1 {
  line-height: 2em;
}

p {
  margin: 0;
}

.iconfont {
  font-size: 20px;
}

@media (min-device-pixel-ratio: 2) {

}

/* vux 样式全局修改 */
.vux-popup-dialog {
  overflow-y: auto !important;
}

.is-link {
  position: absolute;
  top: 45%;
  right: 0;
  width: 10px;
  height: 10px;
  background: transparent;
  border-color: #b7b7b7;
  border-width: 0 2px 2px 0px;
  border-style: solid;
  transform: rotateZ(-45deg) translate3d(0, -50%, 0);
  margin-right: 10px;
}

img {
  width: 100%;
  height: 100%;
}

/* 价格颜色默认为红色 */
.price {
  /* color: #b4282d; */
  color: red;
}

a, a:hover{
  text-decoration:none;
  color: inherit;
}

input {
  -webkit-appearance: none;
}
textarea { -webkit-appearance: none; } 

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #939393;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #939393;
}