.l-fade-enter-active,.l-fade-leave-active {
  opacity: 1;
  transition: opacity linear 0.2s;
}

.l-fade-enter, .l-fade-leave-to {
  opacity: 0;
}

.l-dialog-enter-active, .l-dialog-leave-active {
  opacity: 1;
  transition-duration: 400ms;
  transform: translate(-50%, -50%) scale(1) !important;
  transition-property: transform, opacity !important;
}

.l-dialog-leave-active {
  transition-duration: 300ms;
}

.l-dialog-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.185) !important;
}

.l-dialog-leave-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.85) !important;
}

.l-mask-enter, .l-mask-leave-active {
  opacity: 0;
}

.l-mask-leave-active, .l-mask-enter-active {
  transition: opacity 300ms;
}
