
// 基础色调
$default-color: #26a2ff;

// 页面背景色
$backgroud-color: #efefef;

// 线条默认颜色
$line-color: #ddd;

// 默认字体颜色
$default-font-color: white;

// header
$header-color: $default-color;
$header-height: 44px;

// button
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #26a2ff;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

$placeholder-color: #939393;